/* You can add global styles to this file, and also import other style files */

*, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mt-1 {
  margin-top: 1em;
}

.mt-2 {
  margin-top: 2em;
}

.success-snackbar {
  --mdc-snackbar-container-color: #45ce8e;
}

.error-snackbar {
  --mdc-snackbar-container-color: #dd4747;
}
