.loading {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.list-student{
  width: 75%;
  height: 60vh;
  margin-top: 0;
}

.container-students {
  margin-top: 10px;
}

.search-student {
  width: 100%;
  height: 68px;
  margin-bottom: -20px;
}

.edit-student {
  cursor: pointer;
}
